.values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .value-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    width: 235px;
    padding: 16px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.values .value-box i {
    font-size: 24px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}

.values .value-box:nth-child(1) i {
     background-color: #00a8ff;
}
.values .value-box:nth-child(2) i {
     background-color: #459642;
}
.values .value-box:nth-child(3) i {
     background-color: #ff00dd;
}
.values .value-box:nth-child(4) i {
     background-color: #ff3c00;
}

.values-info {
    line-height: 14px;
}

@media (max-width:768px) {
    .values {
        padding: 30px 30px 0 30px;
    }
    .values .value-box{
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }
}